---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/api/3.0/api.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://www.docusign.net/API/3.0"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.docusign.net/API/3.0"><env:Header><wsse:Security
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:UsernameToken
        wsu:Id="UsernameToken-1" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsse:Username>[XXXX-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx]xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</wsse:Username><wsse:Password
        Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">xxxxxxxxxx</wsse:Password></wsse:UsernameToken></wsse:Security></env:Header><env:Body><ins0:CreateAndSendEnvelope><ins0:Envelope><ins0:TransactionID>Test1329799229</ins0:TransactionID><ins0:Asynchronous>false</ins0:Asynchronous><ins0:AccountId>678cce00-95a7-4279-9101-557b3868d7aa</ins0:AccountId><ins0:Documents></ins0:Documents><ins0:Recipients></ins0:Recipients><ins0:Tabs></ins0:Tabs><ins0:Notification></ins0:Notification></ins0:Envelope></ins0:CreateAndSendEnvelope></env:Body></env:Envelope>
    headers:
      X-Docusign-Authentication:
      - <DocuSignCredentials><Username>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</Username><Password>xxxxxxxxxx</Password><IntegratorKey>XXXX-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</IntegratorKey></DocuSignCredentials>
      Soapaction:
      - ! '"http://www.docusign.net/API/3.0/CreateAndSendEnvelope"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: ! '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><soap:Header><wsa:Action>http://schemas.xmlsoap.org/ws/2004/08/addressing/fault</wsa:Action><wsa:MessageID>urn:uuid:2fd87f14-edf8-4b93-812c-3a5d84a371e6</wsa:MessageID><wsa:RelatesTo>urn:uuid:d162492d-1f97-4233-90af-7d7c09905d66</wsa:RelatesTo><wsa:To>http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous</wsa:To><wsse:Security><wsu:Timestamp
        wsu:Id="Timestamp-66c820e6-af0c-4d96-8a37-009dafed6c78"><wsu:Created>2012-02-21T04:40:30Z</wsu:Created><wsu:Expires>2012-02-21T04:45:30Z</wsu:Expires></wsu:Timestamp></wsse:Security></soap:Header><soap:Body><soap:Fault><faultcode>soap:Client</faultcode><faultstring>Validation
        error: The element ''Documents'' in namespace ''http://www.docusign.net/API/3.0''
        has incomplete content. List of possible elements expected: ''Document'' in
        namespace ''http://www.docusign.net/API/3.0''.</faultstring><detail /></soap:Fault></soap:Body></soap:Envelope>'
  recorded_at: Tue, 30 Apr 2013 07:44:47 GMT
recorded_with: VCR 2.4.0
