---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/api/3.0/api.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://www.docusign.net/API/3.0"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.docusign.net/API/3.0"><env:Header><wsse:Security
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:UsernameToken
        wsu:Id="UsernameToken-1" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsse:Username>[XXXX-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx]xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</wsse:Username><wsse:Password
        Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">xxxxxxxxxx</wsse:Password></wsse:UsernameToken></wsse:Security></env:Header><env:Body><ins0:Ping></ins0:Ping></env:Body></env:Envelope>
    headers:
      X-Docusign-Authentication:
      - <DocuSignCredentials><Username>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</Username><Password>xxxxxxxxxx</Password><IntegratorKey>XXXX-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</IntegratorKey></DocuSignCredentials>
      Soapaction:
      - ! '"http://www.docusign.net/API/3.0/Ping"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><soap:Header><wsa:Action>http://www.docusign.net/API/3.0/PingResponse</wsa:Action><wsa:MessageID>urn:uuid:e8756bca-70f4-4027-85cc-3fdbb9132939</wsa:MessageID><wsa:RelatesTo>urn:uuid:497b3002-03a4-49d5-98a7-b0267ac9b40c</wsa:RelatesTo><wsa:To>http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous</wsa:To><wsse:Security><wsu:Timestamp
        wsu:Id="Timestamp-9eacd55f-58fb-4b76-bce7-71b440ae3bec"><wsu:Created>2012-02-21T04:40:42Z</wsu:Created><wsu:Expires>2012-02-21T04:45:42Z</wsu:Expires></wsu:Timestamp></wsse:Security></soap:Header><soap:Body><PingResponse
        xmlns="http://www.docusign.net/API/3.0"><PingResult>true</PingResult></PingResponse></soap:Body></soap:Envelope>
  recorded_at: Tue, 30 Apr 2013 07:44:47 GMT
recorded_with: VCR 2.4.0
